@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";
@import "../../sass//base/utilities";
@import "../../sass/base/typography";
@import "../../sass/components/button";
@import "../../sass/components/composition";

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}